body{
    background-image: url(../img/super.jpg); 
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 10px 25px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 340px;
    background-color: blue;
}

p {
    font-size: 20px;
    text-align: right; 
    padding: 10px 25px;
    margin: 10px 30px;
}

.homeContenedor{
    text-align:center ;
    width: 20em;
    padding: 20px 10px;
    background-color:white;
    box-shadow:black ;
    border-radius: 5px;
    margin: 10px;
}
.homeContenedor a{
    display: block;
    margin: 2em;
}
h1{
    background-color: blue;
}

input,textarea{
    padding: 17px 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    color: black ;
    outline: none;   
}

.btnsalir{
    font-size: 16px ;
    color:white;
    border: 0;
    background-color:grey;
    box-shadow: #283629;
    cursor: pointer;
    padding: 10px 25px;
    margin: 10px 30px;
    color: grey;
}





